@import "../../../scss/constants";

.chat-message {
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
  & > .head {
    display: flex;
    justify-content: space-between;
    .author {
      color: $main-color;
      font-size: 1.2em;
      font-weight: bold;
    }
    .created {
      color: $not-interesting-color;
      font-size: 0.8em;
    }
  }
}
